.tab-select{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
  }
.tab-item-lan {
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    color:#000;
  }

  .is-actived {
    color:brown;
  }

